[Unit]
Description=The NEPI RUI Webserver
After=roslaunch.service

[Service]
Type=simple
User=root
ExecStart=/opt/nepi/nepi_rui/etc/start_rui.sh
Restart=always

[Install]
WantedBy=multi-user.target
