[Unit]
Description=The Numurus RUI Webserver
After=roslaunch.service

[Service]
Type=simple
User=root
ExecStart=/opt/numurus/ros/etc/start_rui.sh
Restart=always

[Install]
WantedBy=multi-user.target
