[Unit]
Description=The Numurus RUI Webserver
After=roslaunch.service

[Service]
Type=simple
User=numurus
ExecStart=/opt/numurus/ros/share/numurus_rui/etc/start_rui.sh

[Install]
WantedBy=multi-user.target 